<launch>
    <arg name="mn" doc="Model name"/>
    <arg name="fn" doc="Folder name"/>    
    <arg name="visualize" doc="Visualize extracted images" default="False"/>         
    <!-- User interface -->
    <node pkg="dora_the_mug_finder_bringup" name="user_interface" type="user_interface.py" output="screen"/>

    <!-- Object extraction -->
    <node pkg="dora_the_mug_finder_bringup" name="retieve_objects" type="retrieve_objects.py" output="screen" args="-v"/>

    <!-- Image extraction -->
    <group unless="$(arg visualize)">
        <node pkg="dora_the_mug_finder_bringup" name="image_extractor" type="image_extractor.py" output="screen"/>
    </group>

    <group if="$(arg visualize)">
        <node pkg="dora_the_mug_finder_bringup" name="image_extractor" type="image_extractor.py" output="screen"
        args="-v"/>
    </group>

    <!-- Object Classification -->
    <group unless="$(arg visualize)">
        <node pkg="dora_the_mug_finder_bringup" name="classification" type="classification.py" output="screen"
        args="-fn $(arg fn) -mn $(arg mn)"/>
    </group>

    <group if="$(arg visualize)">
        <node pkg="dora_the_mug_finder_bringup" name="classification" type="classification.py" output="screen"
        args="-fn $(arg fn) -mn $(arg mn) -v"/>
    </group>



</launch>