<launch>    
    
    <!-- Launch openni and defines the name as camera-->    
    <arg name="frame_id" default="camera"/>

    <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="load_driver" value="false"/>
        <arg name="camera" value="$(arg frame_id)"/>
    </include>

    <!-- Use bagfile time -->
    <param name="/use_sim_time" value="false"/>
    
    <!-- Read bagfile in loop -->
    <arg name="bag_file_name" value="kinect_complete"/>
    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock -l $(env DORA)/rosbag/$(arg bag_file_name).bag"/>
    
    <!-- Launch rviz with correct configuration file -->

<!--    <node name="rviz" pkg="rviz" type="rviz" args="--><!--display-config $(find dora_the_mug_finder_bringup)/config/kinect.rviz" required="false"/> -->
    <!-- Launch rqt_graph for node visualization -->
    <!-- <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph"/> -->

</launch>
