<launch>

    <arg name="mn" doc="Model name"/> <!-- Name of the model to load -->
    <arg name="fn" doc="Folder name"/>     <!-- Name of the folder to save images to -->
    <arg name="visualize_extracted" doc="Visualize extracted images" default="False"/>          <!-- Should information about the detected mugs be displayed -->
    <arg name="visualize" doc="Visualize extracted images" default="False"/>          <!-- Should information about the detected mugs be displayed -->
    <arg name="kinect" default="false" doc="Use kinect image"/>
    <arg name="rqt_graph" default="false" doc="Initialize rqt_graph for node and topics visualization"/>
    <arg name="rviz" default="false" doc="Use rviz to see kinect camera image and pointcloud"/>
    <arg name="bag" default="false" doc="Use previously recorded bag file to test code"/>
    
    <!-- Kinect camera mode -->
    <group if="$(arg kinect)">
        <include file="$(find dora_the_mug_finder_bringup)/include/dora_kinect.launch"/>

        <group if="$(arg bag)">
            <include file="$(find dora_the_mug_finder_bringup)/include/dora_bag.launch"/>
        </group>
       
        <group if="$(arg rviz)">
            <!-- Launch rviz with correct configuration file -->
            <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dora_the_mug_finder_bringup)/config/kinect.rviz" required="false"/>
        </group>
    </group>


    <group if="$(arg rqt_graph)">
         <!-- Launch rqt_graph for node visualization -->
        <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph"/>
    </group>


    <!-- User interface -->
    <node pkg="dora_the_mug_finder_bringup" name="user_interface" type="user_interface.py" output="screen"/> <!-- User interface node -->


    <!-- Object extraction -->
    <node pkg="dora_the_mug_finder_bringup" name="retieve_objects" type="retrieve_objects.py" output="screen" args="-v"/> <!-- The node that extracts mugs from the scene -->


    <!-- Image extraction --> <!-- Extracts images of the located mugs -->
    <group unless="$(arg visualize_extracted)"> <!-- If the visualization argument is false -->
        <node pkg="dora_the_mug_finder_bringup" name="image_extractor" type="image_extractor.py" output="screen"/> <!-- The image extractor node -->
    </group>


    <group if="$(arg visualize_extracted)"> <!-- If the visualization argument is true -->
        <node pkg="dora_the_mug_finder_bringup" name="image_extractor" type="image_extractor.py" output="screen"
        args="-v"/> <!-- The image extractor node -->
    </group>


    <!-- Object Classification -->
    <group unless="$(arg visualize)">
        <node pkg="dora_the_mug_finder_bringup" name="classification" type="classification.py" output="screen"
        args="-fn $(arg fn) -mn $(arg mn)"/>
    </group>

    <group if="$(arg visualize)">
        <node pkg="dora_the_mug_finder_bringup" name="classification" type="classification.py" output="screen"
        args="-fn $(arg fn) -mn $(arg mn) -v"/>
    </group>

</launch>