.vscode
Dora_the_mug_finder_SAVI.code-workspace
dora_the_mug_finder_bringup/src/__pycache__
dora_the_mug_finder_bringup/scripts/__pycache__
rgbd-scenes-v2
__pycache__
png
.ply
.label
.pose
rgbd-scenes-v2