<launch>    
        <!-- Launch openni and defines the name as camera-->    
    <arg name="frame_id" default="camera"/>

    <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="depth_registration" value="true"/>
        <arg name="camera" value="$(arg frame_id)"/>
    </include>
</launch>