<launch>
    <!-- Launch openni and defines the name as camera-->    
    <arg name="frame_id" default="camera"/>

    <include file="$(find openni_launch)/launch/openni.launch">
        <arg name="load_driver" value="false"/>
        <arg name="camera" value="$(arg frame_id)"/>
    </include>
    <!-- Use bagfile time -->
    <param name="/use_sim_time" value="false"/>
    
    <!-- Read bagfile in loop -->
    <arg name="bag_file_name" default="kinect_complete"/>
    <node pkg="rosbag" type="play" name="rosbag_play" args="--clock -l $(env DORA)/rosbag/$(arg bag_file_name).bag"/>
</launch>